/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.search{
  border: none;
  padding: 10px;
  margin: 10px;
  height: 20px;
  width: 500px;
  border:1px solid #eaeaea;
  outline:none;
  border-radius: 25px;
  height: 40px;
  width: 100%;
}
input:hover{
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
  border-color:#4d90fe;
}

.custom_button {
  border-radius: 2px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  cursor: default;
  font-size: 14px;
  /*font-weight: bold;
  width: 100px;
  padding: 0 16px;*/
  height:36px;
  margin: 5px;
}

input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

.align_center {
  text-align: center;
}

.custom-glyphicon {
  height: 40px;
  line-height: 40px;
  color: blue;
}

/* Style buttons */
.custom-btn-1 {
  /*background-color: DodgerBlue;*/ /* Blue background */
  background-color: blue;
  border: none; /* Remove borders */
  color: white; /* White text */
  /*padding: 12px 16px;*/ /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.custom-btn-1:hover, .custom-btn-1:focus {
  /*background-color: RoyalBlue;*/
  background-color: darkblue;
  color: white;
  border: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn:focus, btn:active {
  outline: none;
}

.custom-table table, .custom-table th, .custom-table td {
  border: 1px solid black;
}
.break-words {
  word-break: break-all
}
.top_spacing {
  margin-top: 15px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlap-label {
  font-size: 25px ;
  font-style: oblique;
}

.overlap-count {
  font-size: 25px;
  font-weight: bold;
}

.limit-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url {
  text-decoration: none;
  color: green !important;
  font-size: 14px;
  font-style: oblique;
}

.title {
  font-weight: bold;
}

.id {
  font-style: italic;
  color: dimgrey;
}

.description {
  margin-top: 2px;
}

.lucene-search-title {
  color:blue !important;
  text-align: center;
}

.page-rank-search-title {
  color: red !important;
  text-align: center;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.blue:hover {
  color:blue;
}

.red:hover {
  color:red;
}

.display {
  display: contents !important;
}

.nodisplay {
  display: none !important;
}